@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Odibee+Sans&family=Sarpanch&display=swap');

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#field {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 150vw;
  min-height: 150vh;
  background-color: rgb(67, 176, 62);
}

.grass {
  position: absolute;
  width: 30px;
  height: 60px;
  background-image: url(./grass_crop.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: bottom center;
  opacity: .7;
  transform: rotate(var(--rot)) scale(1.8);
  transition: 1s;
  will-change: "transform";
  image-rendering: optimizeSpeed;
  image-resolution: .3dppx;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rotRight {
  transform: rotate(var(--rot2)) scale(2.4);
}

.rotLeft {
  transform: rotate(var(--rot3)) scale(2.4);
}

.anim {
  animation: 3s ease-in-out var(--delay) infinite alternate-reverse sway;
}

@keyframes sway {
  0%  {
    transform: rotate(var(--rot)) scale(1.8);
  }
  33% {
    transform: rotate(calc(var(--rot) - 5deg)) scale(1.8);
  }
  66% {
    transform: rotate(calc(var(--rot) + 5deg)) scale(1.8);
  }
  100%  {
    transform: rotate(var(--rot)) scale(1.8);
  }
}

.invi {
  display: none;
}
